.equipePage {
    -fx-effect: innershadow(gaussian, rgba(5, 7, 93, 0.4), 25, 1, 1, 10);
    -fx-background-color: linear-gradient(to right, transparent, rgba(63, 67, 190, 0.96), transparent);
    -fx-background-insets: 0, 0, 0, 0;
    -fx-background-radius: 0;
    -fx-background-position: left top, left top, left top, left top;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%, auto, auto, auto;
    -fx-border-color: black; /* Set border color to black */
    -fx-border-width: 1px; /* Set border width */
    -fx-transition: all 650ms;
}

.equipePage:hover {
    -fx-background-position: right top, left top, left top, left top;
    -fx-scale-x: 1.1; /* Scale factor for X-axis */
    -fx-scale-y: 1.1; /* Scale factor for Y-axis */
}
.OnAjouter {
    -fx-effect: innershadow(gaussian, rgba(5, 7, 93, 0.4), 25, 1, 1, 10);
    -fx-background-color: linear-gradient(to right, transparent, rgba(63, 67, 190, 0.96), transparent);
    -fx-background-insets: 0, 0, 0, 0;
    -fx-background-radius: 0;
    -fx-background-position: left top, left top, left top, left top;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%, auto, auto, auto;
    -fx-border-color: black; /* Set border color to black */
    -fx-border-width: 1px; /* Set border width */
    -fx-transition: all 650ms;
}

.OnAjouter:hover {
    -fx-background-position: right top, left top, left top, left top;
    -fx-scale-x: 1.1; /* Scale factor for X-axis */
    -fx-scale-y: 1.1; /* Scale factor for Y-axis */
}