.product-card {
    -fx-background-color: #ffffff;
    -fx-background-radius: 10px;
    -fx-border-color: #e0e0e0;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-padding: 20px;
    -fx-spacing: 10px;
    -fx-effect: dropshadow(3px 3px 5px rgba(0, 0, 0, 0.1));
    -fx-cursor: hand;
}

.product-card:hover {
    -fx-background-color: #f9f9f9;
    -fx-border-color: #bbbbbb;
    -fx-effect: dropshadow(5px 5px 5px rgba(0, 0, 0, 0.2));
}

.product-name {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

.product-price {
    -fx-font-size: 14px;
    -fx-text-fill: #009688;
}

.product-description {
    -fx-font-size: 14px;
    -fx-text-fill: #666666;
}

/* Set the background color of the page to red */
#productPage {
    -fx-background-color: linear-gradient(to right, #ff0000 50%, purple 50%);
}

.commande-card {
    -fx-background-color: #ffffff;
    -fx-background-radius: 10px;
    -fx-border-color: #e0e0e0;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-padding: 20px;
    -fx-spacing: 10px;
    -fx-effect: dropshadow(3px 3px 5px rgba(0, 0, 0, 0.1));
    -fx-cursor: hand;
}

.commande-card:hover {
    -fx-background-color: #f9f9f9;
    -fx-border-color: #bbbbbb;
    -fx-effect: dropshadow(5px 5px 5px rgba(0, 0, 0, 0.2));
}

.commande-id {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
}

.commande-produit {
    -fx-font-size: 14px;
    -fx-text-fill: #009688;
}

.commande-date {
    -fx-font-size: 14px;
    -fx-text-fill: #666666;
}

/* Set the background color of the page to red */
#productPage {
    -fx-background-color: linear-gradient(to right, #ff0000 50%, purple 50%);
}
